@model IEnumerable<Brand>


<div class="flex-column my-3 sticky-top" >
    <ul class="nav nav-pills flex-column">
        <li class="nav-item my-2">
            <a class='nav-link text-center @(ViewData["BrandId"].Equals(0)? "active":"")' asp-action="IndexBrandTab" asp-controller="Product" asp-route-brandId="0">All</a>
        </li>
        @foreach (var brand in Model)
        {
            <li class="nav-item my-2">
                <a class='nav-link text-center @(ViewData["BrandId"].Equals(@brand.Id) ? "active":"")' asp-action="IndexBrandTab" asp-controller="Product" asp-route-brandId="@brand.Id">@brand.Name</a>
            </li>
        }
    </ul>
</div>
