@using TuantuanShop.ViewModels
@model IEnumerable<ProductForListViewModel>


<div class="d-flex justify-content-between align-items-center pt-3">
    <div role="button" id="relevent-content-list-scroll-bar-left-btn" onclick='scrollToLeft("#relevent-content-list")' style="padding-right:10px"><i class="bi bi-chevron-left h3"></i></div>
    <div class="tab-content" id="relevent-content-list">
        <div class="tab-pane active" id="thisBrand">
            <ul class="nav nav-fill flex-nowrap">
                @foreach (var product in Model)
                {
                    <li role="button" onclick="location.href='@Url.Action("Show","Product", new{id=product.Id})'">
                        <div class="d-flex flex-column justify-content-between" style="width:160px; height:300px; padding-right:20px">
                            <div>
                                <img class="w-100" src="@product.ProfilePictureUrl" alt="@product.Name">
                                <p class="pt-3" style="line-height:1rem; max-height:3rem; overflow:hidden">@product.Name</p>
                            </div>
                            <div>
                                <div>
                                    <span class='badge bg-warning @(product.OnSale? "":"d-none")' style="font-size: xx-small"><i class="bi bi-gem"></i> On Sale</span>
                                    <span class='badge bg-danger @(product.HotSale? "":"d-none")' style="font-size: xx-small"><i class="bi bi-fire"></i> Hot Sale</span>
                                    <span class='badge bg-success @(product.InStock? "":"d-none")' style="font-size: xx-small"><i class="bi bi-shop"></i> In Stock</span>
                                    <span class='badge bg-dark @(product.Disabled? "":"d-none")' style="font-size: xx-small">Disabled</span>
                                </div>
                                <p class="pb-2">￥ @product.Price</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div role="button" id="relevent-content-list-scroll-bar-right-btn" style="padding-left:10px" onclick='scrollToRight("#relevent-content-list")'><i class="bi bi-chevron-right h3"></i></div>
</div>