@using TuantuanShop.ViewModels
@model IEnumerable<ProductForListViewModel>


<ul class="nav nav-fill flex-nowrap">
    @foreach (var product in Model)
    {
        <li role="button" onclick="location.href='@Url.Action("Show","Product", new{id=product.Id})'">
            <div class="d-flex flex-column justify-content-between" style="width:160px; height:300px; padding-right:20px">
                <div>
                    <img class="w-100" src="@product.ProfilePictureUrl" alt="@product.Name">
                    <p class="pt-3" style="line-height:1rem; max-height:3rem; overflow:hidden">@product.Name</p>
                </div>
                <div>
                    <div>
                        <span class='badge bg-warning @(product.OnSale? "":"d-none")' style="font-size: xx-small"><i class="bi bi-gem"></i> On Sale</span>
                        <span class='badge bg-danger @(product.HotSale? "":"d-none")' style="font-size: xx-small"><i class="bi bi-fire"></i> Hot Sale</span>
                        <span class='badge bg-success @(product.InStock? "":"d-none")' style="font-size: xx-small"><i class="bi bi-shop"></i> In Stock</span>
                        <span class='badge bg-dark @(product.Disabled? "":"d-none")' style="font-size: xx-small">Disabled</span>
                    </div>
                    <p class="pb-2">￥ @product.Price</p>
                </div>
            </div>
        </li>
    }
</ul>
