@model Product

@{
    ViewData["Title"] = "Product Details";
}

<p>
    <span class="h3">Product Details</span>
    <a asp-action="@ViewData["ReturnAction"]" asp-route-category="@Model.Category" asp-route-brandId="@Model.BrandId" asp-route-returnAll="@ViewData["ReturnAll"]" class="btn btn-outline-danger float-end">Back to List</a>
</p>


<div class="row">
    <div class="col-lg-6 offset-lg-3 align-middle">
        <form>
            <div class="text-center my-2">
                <img style="max-width:150px" src="@Model.ProfilePictureUrl" alt="Profile picture" />
            </div>
            <div>
                <span class='badge bg-warning @(Model.OnSale? "":"d-none")' style="font-size: small">On Sale</span>
                <span class='badge bg-danger @(Model.HotSale? "":"d-none")' style="font-size: small">Hot Sale</span>
                <span class='badge bg-success @(Model.InStock? "":"d-none")' style="font-size: small">In Stock</span>
                <span class='badge bg-dark @(Model.Disabled? "":"d-none")' style="font-size: small">Disabled</span>
                
            </div>
            <div class="form-group my-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
            </div>
            <div class="form-group my-2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" disabled />
            </div>
            @if (@Model.OnSale)
            {
                <div class="form-group my-2">
                    <label asp-for="OnSalePrice" class="control-label"></label>
                    <input asp-for="OnSalePrice" class="form-control" disabled />
                </div>
            }
            <div class="form-group my-2">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" disabled />
            </div>
            <div class="form-group my-2">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" disabled />
            </div>


            <div class="form-group my-2">
                <label asp-for="ProfilePictureUrl" class="control-label"></label>
                <input asp-for="ProfilePictureUrl" class="form-control" disabled />
                <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="IntroductionPictureUrl" class="control-label"></label>
                <input asp-for="IntroductionPictureUrl" class="form-control" disabled />
                <span asp-validation-for="IntroductionPictureUrl" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" value="@Model.Brand.Name" disabled />
            </div>

            <div class="text-center my-2">
                <img style="max-width:150px" src="@Model.IntroductionPictureUrl" alt="Introduction picture" />
            </div>
        </form>
    </div>
</div>

<div class="col-12 col-md-4 offset-md-4 ">
    <div class="my-5 text-center">
        <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnAction="@ViewData["ReturnAction"]" asp-route-returnAll="@ViewData["ReturnAll"]" class="btn btn-success" style="width:100%"><i class="bi bi-pencil-square"></i> Edit</a>
    </div>
</div>

