@using TuantuanShop.Data.Enums
@using TuantuanShop.ViewModels
@model IEnumerable<ProductForListViewModel>
@{
    ViewData["Title"] = "Product Management";
    ViewData["Action"] = "Index";
}


<div class="container-fluid">
    <div class="mb-3">
        <div>
            <span class="h3">Product Management</span>
            <a asp-action="Create" asp-route-tab="@ViewData["Tab"]" asp-route-brandId="@ViewData["BrandId"]" asp-route-category='@(ViewData["Category"].GetHashCode().Equals(0) ? "":ViewData["Category"])' class="btn btn-success float-end"><i class="bi bi-plus-circle-dotted"></i> Create One</a>

        </div>
        <div class="text-end mt-3 @((ViewData["Tab"].Equals("brand") && !ViewData["BrandId"].Equals(0)) ? "" : "d-none")">
            <a asp-action="Details"asp-controller="Brand" asp-route-id="@ViewData["BrandId"]"  class="btn btn-outline-secondary "><i class="bi bi-gear-wide-connected"></i> Edit Brand</a>
        </div>
    </div>





    @*Tab*@
    <ul class="nav nav-tabs sticky-top bg-white" id="nav">
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Product" asp-route-tab="category" class="nav-link @(ViewData["Tab"].Equals("category") ? "active" : "")" role="button" style="font-weight:bolder">Categories</a>
        </li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Product" asp-route-tab="brand" class="nav-link @(ViewData["Tab"].Equals("brand") ? "active" : "")" role="button" style="font-weight:bolder">Brands</a>
        </li>
    </ul>


    <div class="tab-content">
        <div class="row align-items-start">
            @*Sidebar*@
            <div class="col-4 col-md-2 @(ViewData["Tab"].Equals("category")?"":"d-none")" style="position:sticky; top:35px">
                <partial name="_CategorySideBarPartial" />
            </div>

            <div class="col-4 col-md-2 @(ViewData["Tab"].Equals("brand")?"":"d-none")" style="position:sticky; top:35px">
                <partial name="_BrandSideBarPartial" model="@ViewData["Brands"]" />
            </div>

            @*Content*@
            <div class="col-8 col-md-10">
                <partial name="_ProductListPartial" model="@Model" view-data="ViewData" />
            </div>
        </div>
    </div>
</div>

<partial name="_BottomNavigationBarPartial" />


@section Scripts{
    <script>
        function getBootstrapBreakpoint() {
            var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            return (w < 576 ? 'xs' : 'md');
        }

        function setNavFill(breakpoint) {
            if (breakpoint == 'xs') {
                $("#nav").addClass("nav-fill")
            } else if (breakpoint == 'md') {
                $("#nav").removeClass("nav-fill")
            }
        }

        $(window).resize(function() {
            setNavFill(getBootstrapBreakpoint());
        })

        $(document).ready(function() {
            setNavFill(getBootstrapBreakpoint());
        })

        function setFilter(filter) {
            var action = '@ViewData["Action"]';
            var tab = '@ViewData["Tab"]';
            var brandId = @ViewData["BrandId"];
            var category = '@ViewData["Category"]';
            var filtersString = "@ViewData["Filters"]";
            filtersString = filtersString.replace(/&quot;/ig, '"');
            var filtersObj = JSON.parse(filtersString);
            filtersObj[`${filter}`] = filtersObj[`${filter}`] ? false : true;
            filtersString = JSON.stringify(filtersObj);
            var url = `/Product/${action}?category=${category}&tab=${tab}&brandId=${brandId}&filters=${filtersString}`;
            location.href = url;
        }
    </script>
}