@using TuantuanShop.ViewModels
@model ProductIndexViewModel

@{
    ViewData["Title"] = "All Products";
    ViewData["Caller"] = "Management";
    ViewData["Category"] = Model.Category;
    ViewData["BrandId"] = Model.BrandId;
    ViewData["ActiveTab"] = Model.ActiveTab;

}

<div class="mb-5">
    <span class="h3">All Products</span>
    <a asp-action="Create" class="btn btn-success float-end"><i class="bi bi-plus-circle-dotted"></i> Create New</a>
</div>

<ul class="nav nav-tabs sticky-top bg-white ">
    <li class="nav-item">
        <a asp-action="SetCurrentActiveTab" asp-route-activeTab="Category" class='nav-link @(ViewData["ActiveTab"].Equals("Category")? "active":"")' id="category_tab">Product Categories</a>
    </li>
    <li class="nav-item">
        <a asp-action="SetCurrentActiveTab" asp-route-activeTab="Brand" class='nav-link @(ViewData["ActiveTab"].Equals("Brand")? "active":"")' id="brands_tab">Brands</a>
    </li>
</ul>
<div class="tab-content">
    <div id="category_tab_content" class='tab-pane @(ViewData["ActiveTab"].Equals("Category")? "active":"")'>
        <div class="row align-items-start">
            <div class="col-3 col-md-2" style="position:sticky; top:35px">
                <partial name="_CategorySideBarPartial" view-data="ViewData" />
            </div>
            <div class="col-9 col-md-10">
                <partial name="_ProductListPartial" model="@Model.ProductsByCategory" view-data="ViewData" />
            </div>
        </div>
    </div>
    <div id="brands_tab_content" class='tab-pane @(ViewData["ActiveTab"].Equals("Brand")? "active":"")'>
        <div class="row align-items-start">
            <div class="col-3 col-md-2" style="position:sticky; top:35px">
                <partial name="_BrandSideBarPartial" model="@Model.Brands" view-data="ViewData" />
            </div>
            <div class="col-9 col-md-10">
                <partial name="_ProductListPartial" model="@Model.ProductsByBrand" view-data="ViewData" />
            </div>
        </div>
    </div>
</div>

