@using TuantuanShop.Data.Enums
@using TuantuanShop.ViewModels
@model IEnumerable<ProductForListViewModel>
@{
    ViewData["Title"] = "Products";
    ViewData["Action"] = "List";
    var filters = ViewData["Filters"];
}

<div class="container-fluid">
    @*Tab*@
    <ul class="nav nav-tabs sticky-top bg-white" id="nav">
        <li class="nav-item">
            <a asp-action="List" asp-controller="Product" asp-route-tab="category" class="nav-link @(ViewData["Tab"].Equals("category") ? "active" : "")" role="button" style="font-weight:bolder">Categories</a>
        </li>
        <li class="nav-item">
            <a asp-action="List" asp-controller="Product" asp-route-tab="brand" class="nav-link @(ViewData["Tab"].Equals("brand") ? "active" : "")" role="button" style="font-weight:bolder">Brands</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="row align-items-start">
            @*Sidebar*@
            <div class="col-4 col-md-2 @(ViewData["Tab"].Equals("category")?"":"d-none")" style="position:sticky; top:35px">
                <partial name="_CategorySideBarPartial" />
            </div>

            <div class="col-4 col-md-2 @(ViewData["Tab"].Equals("brand")?"":"d-none")" style="position:sticky; top:35px">
                <partial name="_BrandSideBarPartial" model="@ViewData["Brands"]" />
            </div>

            @*Content*@
            <div class="col-8 col-md-10">
                <partial name="_ProductListPartial" model="@Model" view-data="ViewData" />
            </div>
        </div>
    </div>
</div>
<partial name="_BottomNavigationBarPartial" />


@section Scripts{
    <script>
        function getBootstrapBreakpoint() {
            var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            return (w < 576 ? 'xs' : 'md');
        }

        function setNavFill(breakpoint) {
            if (breakpoint == 'xs') {
                $("#nav").addClass("nav-fill")
            } else if (breakpoint == 'md') {
                $("#nav").removeClass("nav-fill")
            }
        }

        $(window).resize(function() {
            setNavFill(getBootstrapBreakpoint());
        })

        $(document).ready(function() {
            setNavFill(getBootstrapBreakpoint());
        })

         
    </script>
}