@model Product
@{
    ViewData["Title"] = Model.Name;
}

<div class=" container p-2">
    <div class="row">
        <div class="row col-12 col-md-10">
            <div class="col-12 col-md-6" style="height:fit-content;min-height:360px;">
                <div class="text-center">
                    <img src="@Model.ProfilePictureUrl" alt="@Model.Name" style="max-width:100%" />
                </div>
            </div>

            <div class="col-12 col-md-6 position-relative">
                <div class="mt-3 mt-md-0">
                    <div>
                        <span class='badge bg-warning @(Model.OnSale? "":"d-none")' style="font-size: small"><i class="bi bi-gem"></i> On Sale</span>
                        <span class='badge bg-danger @(Model.HotSale? "":"d-none")' style="font-size: small"><i class="bi bi-fire"></i> Hot Sale</span>
                        <span class='badge bg-success @(Model.InStock? "":"d-none")' style="font-size: small"><i class="bi bi-shop"></i> In Stock</span>
                        <span class='badge bg-dark @(Model.Disabled? "":"d-none")' style="font-size: small">Disabled</span>                        
                    </div>
                    <div style="font-size:x-large; overflow-wrap: break-word">
                        @Model.Name
                    </div>
                    <div style="color:firebrick">@Model.Subtitle</div>
                    <div class="mt-md-3">
                        @if (Model.OnSale)
                        {
                            <span style="font-size:x-large; color:firebrick">￥ @Model.OnSalePrice</span>
                            <sapn class="text-decoration-line-through mx-2">Was ￥ @Model.Price</sapn>
                        }
                        else
                        {
                            <sapn style="font-size:x-large; color:firebrick">￥ @Model.Price</sapn>
                        }
                        <div class="card mt-3" role="button">
                            <div class="card-body">
                                <sapn class="card-title">Brand: <b>@Model.Brand.Name</b></sapn>
                                <span class="float-end"><i class="bi bi-binoculars"></i> Learn more></span>
                            </div>
                        </div>
                        <div class='card mt-3 @(Model.InStock ? "":"d-none")' role="button">
                            <div class="card-body">
                                <sapn class="card-title">In Store Qty: <b>@Model.InStockQty</b></sapn>
                                <span class="float-end"><i class="bi bi-binoculars"></i> Learn more></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-md-block d-none mt-2 position-absolute bottom-0" style="width:100%">
                        <a class="btn btn-danger">Buy</a>
                        <a class="btn btn-primary">Add to Cart</a>
                        <a role="button" style="color:gold; font-size:large"><i class="bi bi-star"></i></a>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class="border-bottom">
                    <span style="font-size:large ;background-color:firebrick; color:white">Introduction</span>
                </div>

            </div>

            <div class="text-center col-12 col-md-10 mt-3">
                <img style=" max-width:100%" src="@Model.IntroductionPictureUrl" alt="introduction picture" />
            </div>


            <div class="fixed-bottom d-block d-md-none my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-4 my-auto " style="font-size:small">
                                <a role="button"><i class="bi bi-house-door"></i><p class="d-inline">Home</p> </a>
                                <a role="button"><i class="bi bi-cart4"></i> <p class="d-inline">Cart</p></a>
                            </div>
                            <div class="col-8 my-auto">
                                <div class="btn-group w-100">
                                    <a class="btn btn-danger">Buy</a>
                                    <a class="btn btn-primary">Add to cart</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-md-2 d-md-block d-none border">
            Hot sale
        </div>
    </div>


</div>



