@using TuantuanShop.ViewModels
@model HomeIndexViewModel;

@{
    ViewData["Title"] = "Home";
    var newArrivalProducts = Model.NewArrivalProducts;
    var hotSaleProducts = Model.HotSaleProducts;
}

<style>


    #top-picks-slider-wrapper {
        width: 100%;
        overflow-x: scroll;
        overflow-y:hidden;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        #top-picks-slider-wrapper::-webkit-scrollbar {
            display: none;
        }

    .top-picks-slider-element {
        max-width: 660px;
        min-width: 220px;
        max-height: 460px;
        min-height: 220px;
        display: inline-block;
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 0.8s ease-in-out;
        transition-delay: 0.5s;
    }

        .top-picks-slider-element.visible {
            opacity: 1;
            transform: translate(0, 0);
        }


        .top-picks-slider-element:hover {
            background-color: rgba(241, 185, 169,0.3);
            transition: 1s;
        }

    .shop-now {
        display: inline-block;
        position: relative;
    }

        .shop-now:after {
            content: '';
            position: absolute;
            width: 70px;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: black;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

    .top-picks-slider-element:hover .shop-now:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
</style>

<div class="container-fluid pb-5 pb-md-1">
    @*Banner row*@
    @if (Model.Banners.Count() > 0)
    {
        <div>
            <div id="carouselBannerIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators @(Model.Banners.Count() > 1? "":"d-none")" style="font-size:xx-small">
                    @for (int i = 0; i < Model.Banners.Count(); i++)
                    {
                        <button type="button" data-bs-target="#carouselBannerIndicators" data-bs-slide-to="@i" class='@(i == 0? "active":"")' aria-current="true" aria-label="Slide @i"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Banners.Count(); i++)
                    {
                        <div class="carousel-item @(i == 0? "active":"")">
                            <img src="@Model.Banners.ElementAt(i).Url" class="d-block w-100" style="max-height:400px" alt="@Model.Banners.ElementAt(i).Title">
                        </div>
                    }
                </div>
                @*<button class="carousel-control-prev @(Model.Banners.Count() > 1? "":"d-none")" type="button" data-bs-target="#carouselBannerIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next @(Model.Banners.Count() > 1? "":"d-none")" type="button" data-bs-target="#carouselBannerIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>*@
            </div>
        </div>
    }


    @*Top picks*@
    @if (Model.HotSaleProducts.Count() > 0)
    {
        <div class="mt-5">
            @*Title row*@
            <div class="d-flex justify-content-between">
                <h2>Top Picks</h2>
                <p><i class="bi bi-chevron-left" id="scroller-left-btn" role="button" onclick="scrollerToLeft()" style="font-size:20px"></i> <i class="bi bi-chevron-right" id="scroller-right-btn" role="button" onclick="scrollerToRight()" style="padding-left:5px; font-size:20px"></i></p>
            </div>

            @*Slider row*@
            <div id="top-picks-slider-wrapper">
                @foreach (var product in Model.HotSaleProducts)
                {
                    <div class="top-picks-slider-element" style="margin-right:10px" role="button" onclick="location.href='@Url.Action("Show","Product",new{id=@product.Id})'">
                        <div class="w-100 d-flex flex-column flex-lg-row justify-content-between justify-content-lg-start" style="min-height: 220px">
                            <div class="text-center">
                                <img style="width:220px" src="@product.ProfilePictureUrl" alt="@product.Name">
                            </div>
                            <div class="d-flex flex-column justify-content-between top-picks-slider-element-text" style="width:100%; min-height:220px; overflow:hidden">
                                <div>
                                    <h5>@product.BrandName</h5>
                                    <p style="width:100%;  word-break:break-all; white-space:normal; overflow:hidden; line-height:1.5rem; max-height:3rem; margin: 5px 5px 0 0">@product.Name</p>
                                    <p style="font-weight:bold">@product.Subtitle</p>
                                </div>
                                <div class="shop-now">Shop Now</div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    }
</div>

@section Scripts{
    <script>

        $(document).ready(function() { changeSliderElementWidth(); scrollerElementFadeIn(); disableSliderButton(); changeSliderElementTextPadding();});
        $(window).resize(function() { changeSliderElementWidth(); changeSliderElementTextPadding();});
        $("#top-picks-slider-wrapper").on("scroll", function() { scrollerElementFadeIn(); disableSliderButton();});

        function changeSliderElementWidth() {
            if ($(window).width() >= 992) {
                $(".top-picks-slider-element").css("width", "40vw");
            } else {
                $(".top-picks-slider-element").css("width", "20vw")
            }
        }

        function changeSliderElementTextPadding() {
            if ($(window).width() >= 992) {
                $(".top-picks-slider-element-text").css("padding", "10px 100px 0 40px");
            } else {
                $(".top-picks-slider-element-text").css("padding", "20px 40px 0 0")
            }
        }

        function scrollerToLeft() {
            var leftValue = $("#top-picks-slider-wrapper").scrollLeft();
            var eachElementWidth = $(".top-picks-slider-element").width() + 15;
            $("#top-picks-slider-wrapper").animate({ scrollLeft: leftValue - eachElementWidth }, 800);
        }

        function scrollerToRight() {
            var leftValue = $("#top-picks-slider-wrapper").scrollLeft();
            var eachElementWidth = $(".top-picks-slider-element").width() + 15;
            $("#top-picks-slider-wrapper").animate({ scrollLeft: leftValue + eachElementWidth }, 800);
        }

        function scrollerElementFadeIn() {
            var elements = $(".top-picks-slider-element")
            var scrollerWrapperWidth = $("#top-picks-slider-wrapper").innerWidth();
            var scrollerWrapperScrollLeft = $("#top-picks-slider-wrapper").scrollLeft();
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                var elementOffsetLeft = $(element).offset().left;
                var elementEnter = elementOffsetLeft >= 0 && elementOffsetLeft <= scrollerWrapperWidth;
                if (elementEnter) {
                    $(element).addClass("visible");
                }
            }
        }

        function disableSliderButton() {
            var contentWidth = $("#top-picks-slider-wrapper").get(0).scrollWidth;
            var scrollerWrapperScrollLeft = $("#top-picks-slider-wrapper").scrollLeft();
            var scrollerWrapperWidth = $("#top-picks-slider-wrapper").innerWidth();
            //disable scrollLeft button
            if (scrollerWrapperScrollLeft == 0) {
                $("#scroller-left-btn").css({ "opacity": "0", "transition": "0.8s" });
            } else {
                $("#scroller-left-btn").css({ "opacity": "1", "transition": "0.8s" });
            }
            //disable scrollRight button
            if (scrollerWrapperScrollLeft + scrollerWrapperWidth >= contentWidth - 1) {
                $("#scroller-right-btn").css({ "opacity": "0", "transition": "0.8s" });
            } else {
                $("#scroller-right-btn").css({ "opacity": "1", "transition": "0.8s" });
            }
        }
    </script>
}








    @*<partial name="_BottomNavigationBarPartial" />*@
