@using TuantuanShop.ViewModels
@model HomeIndexViewModel;

@{
    ViewData["Title"] = "Home";
    var newArrivalProducts = Model.NewArrivalProducts;
    var hotSaleProducts = Model.HotSaleProducts;
}

<style>
    #top-picks-slider-wrapper {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        #top-picks-slider-wrapper::-webkit-scrollbar {
            display: none;
        }

    .top-picks-slider-element {
        max-width: 660px;
        min-width: 220px;
        max-height: 460px;
        min-height: 220px;
        display: inline-block;
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 0.5s ease;
        transition-delay: 0.3s;
    }

        .top-picks-slider-element.visible {
            opacity: 1;
            transform: translate(0, 0);
        }

        .top-picks-slider-element:hover {
            background-color: rgba(241, 185, 169,0.3);
            transition: 1s;
        }

    .shop-now {
        display: inline-block;
        position: relative;
    }

        .shop-now:after {
            content: '';
            position: absolute;
            width: 70px;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: black;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

    .top-picks-slider-element:hover .shop-now:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .content-container-new {
        opacity: 0;
        transform: translate(-10vw, 0);
        transition: all 0.5s ease;
    }

    .content-container-onsale {
        opacity: 0;
        transform: translate(10vw, 0);
        transition: all 0.5s ease;
    }

    .content-container-instock {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 0.5s ease;
    }

    .content-container.visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    .content-title-section {
        font-size: 28px;
        font-family: 'Arial Narrow', Arial, sans-serif;
        padding-bottom: 10px;
    }

        .content-title-section::after {
            content: "\00a0\00a0\00a0\00a0\00a0";
            border-bottom: 1px solid black;
        }

    .context-text {
        font-size: 16px;
        font-family: Arial, sans-serif;
    }

    .shop-now-section {
        color: #F58E88;
        font-size: 14px;
    }

    .content-wrapper:hover #shop-now-text {
        color: #F1B9A9;
        transition: all 0.8s;
    }

    .content-wrapper:hover .shop-now-section #shop-now-arrow {
        transform: translate(10px);
        transition: all 0.8s;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(245,142,136,0.8);
        color: white;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 16px;
        padding: 20px;
        text-align: center;
    }

    .content-wrapper:hover .overlay {
        opacity: 1;
    }

    @@media only screen and (max-width: 576px) {
        .instock-content-wrapper {
            background-color: inherit;
        }
    }

    @@media only screen and (min-width: 576px) {
        .instock-content-wrapper {
            background-color: white;
        }
    }

    .category-overlay-block {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.3;
    }

    .category-overlay-text {
        position: absolute;
        bottom: 10%;
        left: 15%;
        color: white;
    }

    .category-img {
        transition: all 0.8s;
    }

    .category-slider-element:hover .category-img {
        transform: scale(1.1);
    }

    .category-slider-element:hover .category-overlay-text {
        color: #F58E88;
    }

    .category-slider-element:hover .category-overlay-block {
        opacity: 0;
    }

    .category-slider-element:hover #category-shop-now-arrow {
        transform: translate(20px);
        transition: transform 0.8s;
    }

    /* less than lg*/
    @@media only screen and (max-width: 992px) {
        .brand-section-content::after {
        }
    }

    /* greater than lg*/
    @@media only screen and (min-width: 992px) {
        .brand-section-content::after {
            position: absolute;
            top: 0;
            left: 50%;
            content: "";
            background-color: black;
            height: 100%;
            width: 1.5px;
        }
    }

    .brand-section-content {
    }

    .brand-section-title {
        padding-bottom: 20px;
        opacity: 0;
        transform: translate(0, -10vh);
        transition: all 0.8s ease-out;
    }

        .brand-section-title.visible {
            padding-bottom: 20px;
            opacity: 1;
            transform: translate(0, 0);
        }

    .brand-right {
        opacity: 0;
        transform: translate(10vw, 0);
        transition: all 0.8s ease-out;
    }

        .brand-right.visible {
            opacity: 1;
            transform: translate(0, 0);
        }

    .brand-left {
        opacity: 0;
        transform: translate(-10vw, 0);
        transition: all 0.8s ease-out;
    }

        .brand-left.visible {
            opacity: 1;
            transform: translate(0, 0);
        }

    .brand-section-content {
        position: relative;
    }

    .brand-title {
        font-size: 36px;
    }

    .brand-item {
        padding: 10% 0;
    }

        .brand-item:hover .overlay {
            opacity: 1;
        }

        .brand-item:hover #shop-arrow {
            transform: translate(20px);
            transition: transform 0.8s;
        }
</style>

<div class="container-fluid pb-5 pb-md-1">
    @*Banner section*@
    @if (Model.Banners.Count() > 0)
    {
        <div>
            <div id="carouselBannerIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators @(Model.Banners.Count() > 1? "":"d-none")" style="font-size:xx-small">
                    @for (int i = 0; i < Model.Banners.Count(); i++)
                    {
                        <button type="button" data-bs-target="#carouselBannerIndicators" data-bs-slide-to="@i" class='@(i == 0? "active":"")' aria-current="true" aria-label="Slide @i"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Banners.Count(); i++)
                    {
                        <div class="carousel-item @(i == 0? "active":"")">
                            <img src="@Model.Banners.ElementAt(i).Url" class="d-block w-100" style="max-height:400px" alt="@Model.Banners.ElementAt(i).Title">
                        </div>
                    }
                </div>
            </div>
        </div>
    }


    @*Top picks section*@
    @if (Model.HotSaleProducts.Count() > 0)
    {
        <div class="mt-5">
            @*Title row*@
            <div class="d-flex justify-content-between pb-lg-3">
                <h2>Top Picks</h2>
                <p><i class="bi bi-chevron-left" id="scroller-left-btn" role="button" onclick="scrollerToLeft()" style="font-size:20px"></i> <i class="bi bi-chevron-right" id="scroller-right-btn" role="button" onclick="scrollerToRight()" style="padding-left:5px; font-size:20px"></i></p>
            </div>

            @*Slider row*@
            <div id="top-picks-slider-wrapper">
                @foreach (var product in Model.HotSaleProducts)
                {
                    <div class="top-picks-slider-element" style="margin-right:10px" role="button" onclick="location.href='@Url.Action("Show","Product",new{id=@product.Id})'">
                        <div class="w-100 d-flex flex-column flex-lg-row justify-content-between justify-content-lg-start" style="min-height: 220px">
                            <div class="text-center">
                                <img style="width:220px" src="@product.ProfilePictureUrl" alt="@product.Name">
                            </div>
                            <div class="d-flex flex-column justify-content-between top-picks-slider-element-text" style="width:100%; min-height:220px; overflow:hidden">
                                <div>
                                    <h5>@product.BrandName</h5>
                                    <p style="width:100%;  word-break:break-all; white-space:normal; overflow:hidden; line-height:1.5rem; max-height:3rem; margin: 5px 5px 0 0">@product.Name</p>
                                    <p style="font-weight:bold">@product.Subtitle</p>
                                </div>
                                <div class="shop-now">Shop Now</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }


    @*New arrival, onsale and instock section*@
    <div class="container-fluid" style="background-color:#F9F9F9; padding-top:60px; padding-bottom:60px; margin-top:60px;">
        <div class="row">
            @*New Arrivial section*@
            <div class="col col-12 col-sm-6">
                <div class="content-container content-container-new">
                    <div class="content-wrapper" style="padding-left:5%" role="button" onclick="location.href='@Url.Action("List","Product")'">
                        <div style="padding:0 10%">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw7be47495/images/homepage/2022/october/WK1/t1-new-arrivals@1x.jpg" alt="New Arrival" />
                                <div class="overlay d-flex justify-content-center align-items-center">
                                    <span class="text-uppercase">shop new</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-title-section">
                            <p style="font-size:12px; margin:0">01</p>
                            <p>NEW NOW WOW</p>
                        </div>
                        <p class="context-text" style="max-width:60%;">Get ready for a month of beauty like no other, featuring new arrivals from our biggest brands.</p>
                        <div class="shop-now-section">
                            <span class="text-uppercase" style="margin-right:20px;" id="shop-now-text">shop new</span>
                            <i class="bi bi-arrow-right h5 d-inline-block" id="shop-now-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>

            @*Onsale Section*@
            <div class="col col-12 col-sm-6 pt-5 pt-sm-0 ps-sm-5">
                <div class="content-container content-container-onsale">
                    <div class="content-wrapper" role="button" onclick="location.href='@Url.Action("List","Product")'">
                        <div class="content-title-section">
                            <div class="d-flex align-items-center justify-content-between">
                                <span style="font-size:12px; margin:0">02</span>
                                <div class="shop-now-section float-end d-none d-sm-inline">
                                    <span class="text-uppercase" style="margin-right:20px;" id="shop-now-text">shop now</span>
                                    <i class="bi bi-arrow-right h5 d-inline-block me-3" id="shop-now-arrow"></i>
                                </div>
                            </div>
                            <p>Don't Miss Out</p>
                        </div>
                        <p class="context-text">Get ready for a month of beauty like no other, featuring new arrivals from our biggest brands.</p>
                        <div style="padding:0 10%">
                            <div class="position-relative overflow-hidden">
                                <img class="w-100" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dwe9cfd44e/images/homepage/2022/october/WK1/t2-byredo-2@1x.jpg" alt="New Arrival" />
                                <div class="overlay d-flex justify-content-center align-items-center ps-sm-5 w-100">
                                    <span class="text-uppercase">shop now</span>
                                </div>
                            </div>
                        </div>
                        <div class="shop-now-section d-sm-none d-block mt-3">
                            <span class="text-uppercase" style="margin-right:20px;" id="shop-now-text">shop now</span>
                            <i class="bi bi-arrow-right h5 d-inline-block me-3" id="shop-now-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>

            @*InStock Section*@
            @if (Model.InStockProducts.Count() > 0)
            {
                <div class="col col-md-10 col-md-offset-1" style="margin: 50px auto">
                    <div class="content-container content-container-instock">
                        <div class="content-wrapper instock-content-wrapper pe-0" role="button" onclick="location.href='@Url.Action("List","Product")'">
                            <div class="row">
                                <div class="col col-12 col-sm-6">
                                    <div style="padding-right:10%">
                                        <div class="position-relative overflow-hidden">
                                            <img class="w-100" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw3801ac4a/images/homepage/2022/october/WK1/t3-market-leaders@1x.jpg" alt="New Arrival" />
                                            <div class="overlay d-flex justify-content-center align-items-center img-fluid">
                                                <span class="text-uppercase">shop now</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-6">
                                    <div>
                                        <div class="content-title-section pt-sm-5 pt-0">
                                            <span style="font-size:12px; margin:0">03</span>
                                            <p>Early departure for the unknown</p>
                                        </div>
                                        <p class="context-text">Get ready for a month of beauty like no other, featuring new arrivals from our biggest brands.</p>
                                        <div class="shop-now-section mt-5">
                                            <span class="text-uppercase" style="margin-right:20px;" id="shop-now-text">shop now</span>
                                            <i class="bi bi-arrow-right h5 d-inline-block me-3" id="shop-now-arrow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @*Shop by category section*@
    <div class="category-container mt-5">
        <div class="category-wrapper">
            @*Title row*@
            <div class="pb-3">
                <h2>Shop by category</h2>
            </div>

            @*Slider row*@
            <div class="category-wrapper">
                <div class="row gy-2 gx-1">
                    <div class="col-6 col-lg-4">
                        <div class="category-slider-element position-relative overflow-hidden">
                            <img class="w-100 category-img" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw4491220e/images/homepage/2022/october/WK1/homepage_cycler_online_only_mobile.jpg" alt="Formula" />
                            <div class="category-overlay-block"></div>
                            <div class="category-overlay-text">
                                <h1>Formula</h1>
                                <div class="mt-2">
                                    <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop now</span>
                                    <i class="bi bi-arrow-right d-inline-block" id="category-shop-now-arrow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4">
                        <div class="category-slider-element position-relative overflow-hidden">
                            <img class="w-100 category-img" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dwbd4f33b8/images/homepage/2022/october/WK1/homepage_cycler_candles_and_home_fragrance_desktop.jpg" alt="Baby Care" />
                            <div class="category-overlay-block"></div>
                            <div class="category-overlay-text">
                                <h1>Baby Care</h1>
                                <div class="mt-2">
                                    <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop now</span>
                                    <i class="bi bi-arrow-right d-inline-block" id="category-shop-now-arrow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4">
                        <div class="category-slider-element position-relative overflow-hidden">
                            <img class="w-100 category-img" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw7c344da6/images/homepage/2022/october/WK1/homepage_cycler_facial_masks_desktop.jpg" alt="Vitamins" />
                            <div class="category-overlay-block"></div>
                            <div class="category-overlay-text">
                                <h1>Vitamins</h1>
                                <div class="mt-2">
                                    <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop now</span>
                                    <i class="bi bi-arrow-right d-inline-block" id="category-shop-now-arrow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4">
                        <div class="category-slider-element position-relative overflow-hidden">
                            <img class="w-100 category-img" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw4dc64ba9/images/homepage/2022/october/WK1/homepage_cycler_foundation_desktop.jpg" alt="Home" />
                            <div class="category-overlay-block"></div>
                            <div class="category-overlay-text">
                                <h1>Home</h1>
                                <div class="mt-2">
                                    <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop now</span>
                                    <i class="bi bi-arrow-right d-inline-block" id="category-shop-now-arrow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4">
                        <div class="category-slider-element position-relative overflow-hidden">
                            <img class="w-100 category-img" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw4491220e/images/homepage/2022/october/WK1/homepage_cycler_online_only_mobile.jpg" alt="Personal Care" />
                            <div class="category-overlay-block"></div>
                            <div class="category-overlay-text">
                                <h1>Personal Care</h1>
                                <div class="mt-2">
                                    <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop now</span>
                                    <i class="bi bi-arrow-right d-inline-block" id="category-shop-now-arrow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4">
                        <div class="category-slider-element position-relative overflow-hidden">
                            <img class="w-100 category-img" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw4491220e/images/homepage/2022/october/WK1/homepage_cycler_online_only_mobile.jpg" alt="Beauty" />
                            <div class="category-overlay-block"></div>
                            <div class="category-overlay-text">
                                <h1>Beauty</h1>
                                <div class="mt-2">
                                    <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop now</span>
                                    <i class="bi bi-arrow-right d-inline-block" id="category-shop-now-arrow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Brand section*@
    <div class="brand-section-container mt-5">
        <div class="brand-section-wrapper">
            <div class="brand-section-title">
                <h1 class="text-center">Brand names to know</h1>
            </div>
            <div class="brand-section-content">
                @*First brand item*@
                <div class="row gx-0 gy-3 brand-item">
                    <div class="col col-12 col-lg-6">
                        <div class="brand-left ps-lg-5 ps-0">
                            <div class="position-relative">
                                <img class="w-100" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dw18a4a656/images/homepage/2022/october/WK1/bbtk-cosmetics-27@xl.jpg" alt="A2" />
                                <div class="overlay d-flex justify-content-center align-items-center">
                                    <span class="text-uppercase">shop a2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col col-12 col-lg-6">
                        <div class="brand-right ps-lg-5 ps-0">
                            <h5 class="brand-name text-uppercase">A2</h5>
                            <h3 class="brand-title pb-3 pb-lg-5">Luxuriously nourishing skincare</h3>
                            <p class="brand-info pb-3">French pharmacist Michèle Evrard proves the power of plant-derived ingredients in her pioneering cosmeceutical skincare brand, Cosmetics 27. Your stressed-out skin will thank you!</p>
                            <div class="mt-2" style="color: #F58E88;">
                                <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop A2</span>
                                <i class="bi bi-arrow-right d-inline-block" id="shop-arrow"></i>
                            </div>
                        </div>
                    </div>
                </div>

                @*Second brand item*@
                <div class="row gx-0 gy-3 brand-item">
                    <div class="col col-12 col-lg-6 order-last order-lg-first">
                        <div class="brand-left pe-lg-5 pe-0">
                            <h5 class="brand-name text-uppercase">swisse</h5>
                            <h3 class="brand-title pb-3 pb-lg-5">The beauty of two words</h3>
                            <p class="brand-info pb-3">Wild Himalayan herbs meet Swiss botanicals in Abhati Suisse’s supercharged formulas for body, face and hair. And, behind every product is an act of kindness to people and planet. </p>
                            <div class="mt-2" style="color: #F58E88;">
                                <span class="text-uppercase" style="margin-right:10px;" id="shop-now-text">shop swisse</span>
                                <i class="bi bi-arrow-right d-inline-block" id="shop-arrow"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-lg-6 order-first order-lg-last">
                        <div class="pe-0 pe-lg-5">
                            <div class="brand-right pe-lg-5 pe-o">
                                <div class="position-relative">
                                    <img class="w-100" src="https://www.mecca.com.au/on/demandware.static/-/Sites-MeccaAU-Library/default/dwb279ff03/images/homepage/2022/october/WK1/bbtk-abhati-suisse@xl.jpg" alt="Swisse" />
                                    <div class="overlay d-flex justify-content-center align-items-center">
                                        <span class="text-uppercase">shop swisse</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() { changeSliderElementWidth(); scrollerElementFadeIn(); disableSliderButton(); changeSliderElementTextPadding(); });
        $(window).resize(function() { changeSliderElementWidth(); changeSliderElementTextPadding(); });
        $(window).on("scroll", function() { contentContainerFadeIn(); });
        $("#top-picks-slider-wrapper").on("scroll", function() { scrollerElementFadeIn(); disableSliderButton(); });

        function changeSliderElementWidth() {
            if ($(window).width() >= 992) {
                $(".top-picks-slider-element").css("width", "40vw");
            } else {
                $(".top-picks-slider-element").css("width", "20vw")
            }
        }

        function changeSliderElementTextPadding() {
            if ($(window).width() >= 992) {
                $(".top-picks-slider-element-text").css("padding", "10px 100px 0 40px");
            } else {
                $(".top-picks-slider-element-text").css("padding", "20px 40px 0 0")
            }
        }

        function scrollerToLeft() {
            var leftValue = $("#top-picks-slider-wrapper").scrollLeft();
            var eachElementWidth = $(".top-picks-slider-element").width() + 15;
            $("#top-picks-slider-wrapper").animate({ scrollLeft: leftValue - eachElementWidth }, 500);
        }

        function scrollerToRight() {
            var leftValue = $("#top-picks-slider-wrapper").scrollLeft();
            var eachElementWidth = $(".top-picks-slider-element").width() + 15;
            $("#top-picks-slider-wrapper").animate({ scrollLeft: leftValue + eachElementWidth }, 500);
        }

        function scrollerElementFadeIn() {
            var elements = $(".top-picks-slider-element")
            var scrollerWrapperWidth = $("#top-picks-slider-wrapper").innerWidth();
            var scrollerWrapperScrollLeft = $("#top-picks-slider-wrapper").scrollLeft();
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                var elementOffsetLeft = $(element).offset().left;
                var elementEnter = elementOffsetLeft >= 0 && elementOffsetLeft <= scrollerWrapperWidth;
                if (elementEnter) {
                    $(element).addClass("visible");
                }
            }
        }

        function disableSliderButton() {
            var contentWidth = $("#top-picks-slider-wrapper").get(0).scrollWidth;
            var scrollerWrapperScrollLeft = $("#top-picks-slider-wrapper").scrollLeft();
            var scrollerWrapperWidth = $("#top-picks-slider-wrapper").innerWidth();
            //disable scrollLeft button
            if (scrollerWrapperScrollLeft == 0) {
                $("#scroller-left-btn").css({ "opacity": "0", "transition": "0.8s" });
            } else {
                $("#scroller-left-btn").css({ "opacity": "1", "transition": "0.8s" });
            }
            //disable scrollRight button
            if (scrollerWrapperScrollLeft + scrollerWrapperWidth >= contentWidth - 1) {
                $("#scroller-right-btn").css({ "opacity": "0", "transition": "0.8s" });
            } else {
                $("#scroller-right-btn").css({ "opacity": "1", "transition": "0.8s" });
            }
        }

        function contentContainerFadeIn() {
            var containers = $(".content-container, .brand-left, .brand-right, .brand-section-title");
            for (var i = 0; i < containers.length; i++) {
                var windowHeight = window.innerHeight;
                var containerTop = containers[i].getBoundingClientRect().top;
                var containerVisible = 300;
                if (windowHeight - containerTop >= containerVisible) {
                    $(containers[i]).addClass("visible");
                }
            }
        }
    </script>
    }