@model Brand
@{
    ViewData["Title"] = Model.Name;
}

<div>
    <div class="card p-3">
        <div class="row">
            <div class="col-12 col-md-4 my-auto text-center">
                <img src="@Model.ProfilePictureUrl" alt="@Model.Name" style="max-width:200px" />
            </div>
            <div class="col-12 col-md-8 my-2">
                <h3>@Model.Name</h3>
                <p style="font-size:small">@Model.IntroductionText</p>
            </div>
        </div>
    </div>

    <div class="row row-cols-md-auto row-cols-2 my-3 justify-content-between justify-content-md-start">
        @if (Model.Products.Count() == 0)
        {
            <div class="text-center mt-5 mx-auto">
                <img src="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" style="height: 100px">
                <p>Oops! No product available.</p>
            </div>
        }
        else
        {
            foreach (var product in Model.Products)
            {
                <div class="col my-2">
                    <div class="card h-100 w-100" style="max-width:200px; min-height:180px" role="button" onclick="location.href='@(Url.Action("Show","Product",new{id=product.Id}))'">
                        <div class="text-center">
                            <img class="card-img-top img-adjusted" src="@product.ProfilePictureUrl" alt="@product.Name" style="max-width:200px" />
                        </div>
                        <div class=" p-2">
                            @if (@product.OnSale)
                            {
                                <span class="badge bg-warning" style="font-size:xx-small">On Sale</span>
                                <span class='badge bg-danger @(product.HotSale? "":"d-none")' style="font-size: xx-small">Hot Sale</span>
                                <span class='badge bg-success @(product.InStock? "":"d-none")' style="font-size: xx-small">In Stock</span>
                                <span class='badge bg-dark @(product.Disabled? "":"d-none")' style="font-size: xx-small">Disabled</span>
                                <h5 class="mb-2">@product.Name</h5>
                                <div>
                                    <span class="text-primary">￥ @product.OnSalePrice </span>
                                    <span class="text-decoration-line-through" style="font-size:x-small"> ￥ @product.Price</span>
                                </div>
                            }
                            else
                            {
                                <span class='badge bg-danger @(product.HotSale? "":"d-none")' style="font-size: xx-small">Hot Sale</span>
                                <span class='badge bg-success @(product.InStock? "":"d-none")' style="font-size: xx-small">In Stock</span>
                                <span class='badge bg-dark @(product.Disabled? "":"d-none")' style="font-size: xx-small">Disabled</span>
                                <h5 class="mb-2">@product.Name</h5>
                                <span class="text-primary">￥ @product.Price </span>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<partial name="_BottomNavigationBarPartial" />



